DATABASE_URL="postgres://postgres:postgres@localhost:5432/dev-db"

BETTER_AUTH_SECRET=
BETTER_AUTH_URL="http://localhost:3000"

# Create a Github App here:
# https://github.com/settings/apps
# Open app > Permissions & events > Account permissions.
# Set "Email adresses" as "Read-only".
# Paste your client Id and client secret below.
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

