@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --primary: 149 85% 28%;
    --primary-hover: 149 85% 32%;
    --primary-active: 149 85% 36%;
    --primary-foreground: 0 0% 100%;

    --accent: 240 4.8% 96%;
    --accent-hover: 240 4.8% 93%;
    --accent-active: 240 4.8% 90%;
    --accent-foreground: 240 4.8% 26%;

    --muted: 240 5% 96%;
    --muted-foreground: 240 5% 45%;

    --success: 142 71% 40%;
    --error: 0 100% 35%;
    --overlay: 0 0% 0%;
    --border: 240 6% 90%;
    --ring: 192 84% 40%;
  }

  [data-theme='dark'] {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --primary: 149 85% 52%;
    --primary-hover: 149 85% 46%;
    --primary-active: 149 85% 42%;
    --primary-foreground: 0 0% 10%;

    --accent: 240 5% 20%;
    --accent-hover: 240 5% 24%;
    --accent-active: 240 5% 28%;
    --accent-foreground: 240 5% 90%;

    --muted: 240 4% 16%;
    --muted-foreground: 240 4% 90%;

    --success: 142 71% 56%;
    --error: 0 80% 76%;
    --overlay: 0 0% 0%;
    --border: 240 4% 16%;
    --ring: 192 84% 70%;
  }

  * {
    @apply border-border;
  }

  ::-webkit-scrollbar {
    @apply h-3 w-3;
  }

  ::-webkit-scrollbar-track {
    @apply bg-muted;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-lg border-2 border-solid border-muted bg-scrollbar-thumb hover:bg-scrollbar-thumb-hover;
  }

  a,
  input,
  button {
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-ring;
  }
}
