@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: Tailwind için base vs kullanımına bi bak */

@layer base {
  body {
    @apply text-text-main bg-background-dark;
  }

  ::-webkit-scrollbar {
    @apply h-3 w-3;
  }

  ::-webkit-scrollbar-track {
    @apply bg-background-dark;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-scrollbar-thumb border-2 border-solid border-background-dark;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply rounded-lg bg-scrollbar-thumbHover;
  }

  /* TODO: Bu çalışmıyor şu an. Fix lazım */
  #nprogress .bar {
    background: theme('colors.secondary.light');
  }

  #nprogress .peg {
    box-shadow: 0 0 10px theme('colors.secondary.light'),
      0 0 5px theme('colors.secondary.light');
  }

  #nprogress .spinner-icon {
    display: none;
  }
}
